<div class="login-box">
  <div class="login-logo">
    <strong><%= Rails.application.class.parent_name %></strong> BackOffice
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true , class: "form-control", placeholder: "Email"%>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: "off" , class: 'form-control', placeholder: 'Password'%>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="form-group">
        <% if devise_mapping.rememberable? -%>
          <div class="checkbox icheck text-right">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      </div>
      <% bc = ActiveAdmin::LTE.configuration.skin.split('-').first %>
      <button type="submit" class="btn bg-<%= bc %> btn-block btn-flat">Sign In</button>
    <% end %>
    <br>
    <a href="#">I forgot my password</a><br>
    <a href="register.html" class="text-center">Register a new membership</a>
  </div>
</div>
